<div class="container">
    <div class="panel panel-default col-md-12">
        <div class="panel-heading">
            <h1>ORDER VIEW</h1>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Order Status</li>
                <li class="list-group-item">Address: {{order.address}}</li>
                <li class="list-group-item">Total: {{order.total}}</li>
                <li class="list-group-item">Tip: {{order.tip}}</li>
                <li class="list-group-item">
                    <div ng-hide="order.status">
                        <label>Assign An Order To A Driver</label>
                        <select class="form-control" ng-model="items.driver_id">
                                <option value="{{driver.driver_id}}" ng-repeat="driver in drivers">{{driver.name}}</option>
                        </select>
                        <input class="btn btn-default" type="submit" value="Assign" ng-model="items.status" ng-click="assignOrder(order.id)">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
